.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 800px;
  margin: auto;
}

.list {
  width: 200px;
  display: flex;
  flex-direction: column;
  list-style: none;
}